<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form method='post'>
      <label for="date">Date
        <input type="date" name="date" />
      </label>
      <input type="submit" value="Submit" />
    </form>
    <table border=1>
      <tr>
        <th>Stage</th>
        <th>Agent</th>
        <th>Secret Agent</th>
        <th>00 Agent</th>
      </tr>
      <tr>
        <td>Dam</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Facility</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Runway</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Surface 1</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Bunker 1</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Silo</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Frigate</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Surface 2</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Bunker 2</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Statue</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Archives</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Streets</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Depot</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Train</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Jungle</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Control</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Caverns</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Cradle</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Aztec</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Egypt</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th>Totals</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </table>
    <style>
      td, th {
        text-align: center;
        width: 100px;
      }
    </style>
  </body>
</html>
