<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Perfect Dark PRs</title>
  </head>
  <body>
    <form method='post'>
      <label for="date">Date
        <input type="date" name="date" />
      </label>
      <input type="submit" value="Submit" />
    </form>
    <table border=1>
      <tr>
        <th>Stage</th>
        <th>Agent</th>
        <th>Special Agent</th>
        <th>Perfect Agent</th>
      </tr>
      <tr>
        <td>Defection</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Investigation</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Extraction</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Villa</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Chicago</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>G5</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Infiltration</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Rescue</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Escape</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Air Base</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Air Force One</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Crash Site</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Pelagic II</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Deep Sea</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Carrington Institute</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Attack Ship</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Skedar Ruins</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Mr. Blonde's Revenge</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Maian SOS</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>WAR!</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Duel</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th>Totals</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </table>
    <style>
      td, th {
        text-align: center;
        width: 100px;
      }
    </style>
    <script>
        let x = document.getElementsByTagName("td")
        console.log(x)
        for (let cell=0; cell < 80; cell++) {
          if (x[cell].innerText === '20:00') {
            x[cell].style.backgroundColor = "grey";
            x[cell].innerText = 'N/A'
          }
        }
    </script>
  </body>
</html>
