{% extends "base.html" %}

{% block title %}{{ info_test[0]['stage'] }} {{ info_test[0]['difficulty'] }} in {{ info_test[0]['stage_time'].strftime("%-M:%S") }}{% endblock %}

{% block content %}
<div class="time">
  <div class="topbar">
    <h2>{{ info_test[0]['stage'] }} {{ info_test[0]['difficulty'] }} in {{ info_test[0]['stage_time'].strftime("%-M:%S") }}</h2>
    {% if game == 'GE' %}
      <a href="{{ url_for('GEPD.ge_calendar') }}">Back to GE times page</a>
    {% endif %}
    {% if game == 'PD' %}
      <a href="{{ url_for('GEPD.pd_calendar') }}">Back to PD times page</a>
    {% endif %}
  </div>
  <div class="time-video">
    {% if info_test[0]['video_id'] != '' %}
      <iframe src="https://www.youtube.com/embed/{{ info_test[0]['video_id'] }}" width="640" height="360" allowfullscreen></iframe>
      <a href="https://www.youtube.com/watch?v={{ info_test[0]['video_id'] }}">Watch on YouTube</a>
    {% endif %}
    {% if info_test[0]['video_id'] == '' %}
      <p>
        ======<br>
        It looks like a video doesn't exist for this time.<br>
        ======
      </p>
    {% endif %}
  </div>

  <div class="time-info">
    <p>Achieved: {{ info_test[0]['date_achieved'] }}</p>
    <p>System: {{ info_test[0]['system'] }}</p>
    {% if info_test[0]['comments'] != '' %}
      <p style="white-space: pre-wrap;">Comments:<br>{{ info_test[0]['comments'] }}</p>
    {% endif %}
    <h2>PR History for this stage</h2>
    <table border="1">
      <tr>
        <th>Date Achieved</th>
        <th>Time</th>
        <th>System</th>
      </tr>
    {% for item in stage_history %}
      {% if game == 'GE' %}
        {% if item['id'] != 0 %}
          <tr {% if item['id'] == info_test[0]['id'] %}bgcolor='grey'{% endif %}>
            <td>{{ item['date_achieved'] }}</td>
            <td>
              {% if item['id'] == info_test[0]['id'] %}
                {{ item['stage_time'].strftime("%-M:%S") }}
              {% else %}
                <a href="{{ url_for('GEPD.ge_time', id=item['id'])}}">
                  {{ item['stage_time'].strftime("%-M:%S") }}
                </a>
              {% endif %}
            </td>
            <td>{{ item['system'] }}</td>
          </tr>
        {% endif %}
      {% endif %}
      {% if game == 'PD' %}
        {% if item['id'] != 0 %}
          <tr {% if item['id'] == info_test[0]['id'] %}bgcolor='grey'{% endif %}>
            <td>{{ item['date_achieved'] }}</td>
            <td>
              {% if item['id'] == info_test[0]['id'] %}
                {{ item['stage_time'].strftime("%-M:%S") }}
              {% else %}
              <a href="{{ url_for('GEPD.pd_time', id=item['id'])}}">
                {{ item['stage_time'].strftime("%-M:%S") }}
              </a>
              {% endif %}
            </td>
            <td>{{ item['system'] }}</td>
          </tr>
        {% endif %}
      {% endif %}
    {% endfor %}
    </table>
  </div>
</div>

{% endblock %}
