.sidebar {
  background: #eee;
  float: left;
  left: 10px;
  overflow-x: hidden;
  padding: 8px 0;
  top: 20px;
  width: 130px;
}

.sidebar a {
  color: #2196F3;
  display: flex;
  font-size: 20px;
  padding: 6px 8px 6px 16px;
  text-decoration: none;
}

.sidebar a:hover {
  color: #064579;
}

.pd-times, .ge-times, .thing1, .thing2 {
  display: flex;
  flex-direction: column;
  float: left;
  padding: 10px;
  text-align: center;
}

.pd-times form, .ge-times form {
  padding-bottom: 10px;
}

.thing1, .thing2 {
  text-align: left;
}

.thing1 p, .thing2 p {
  margin: 5px;
}

.thing1 {
  width: 645px;
}

.thing2 {
  width: 400px;
}

@media screen and (max-width: 1250px) {
  .thingie {
    display: flex;
    flex-direction: column;
  }
}

.topbar {
  align-items: center;
  border-bottom: solid 1px;
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
}
